<!-- Slider main container -->
<!-- Swiper -->
<div class="swiper mySwiper-{{index}}">
    <div class="swiper-wrapper">
    {%for product in collection.products limit: 12%}
      <a href="{{product.url}}" class="swiper-slide">
        <img class="lazyload fade-in" src="{{product.featured_image | img_url: 'master'}}" alt="{{product.title}}">
        <div class="product-info has-text-centered">
          <p class="title mb-1">{{product.title}}</p>
          {%render 'price-on-display', product: product%}
        </div>
      </a>
    {% endfor %}
    </div>
    <!-- <div class="swiper-pagination swiper-pagination-{{index}}"></div> -->
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev swiper-button-prev-collection-{{index}}" style="color: inherit;"></div>
    <div class="swiper-button-next swiper-button-next-collection-{{index}}" style="color: inherit;"></div>
</div>
<script>
new Swiper(".mySwiper-{{index}}", {
    slidesPerView: 4,
    spaceBetween: 5,
    pagination: {
      el: ".swiper-pagination-{{index}}",
      clickable: true,
    },
    navigation: {
    nextEl: '.swiper-button-next-collection-{{index}}',
    prevEl: '.swiper-button-prev-collection-{{index}}',
  },
});
</script>