<div class="side-accordion accordions">
  <nav class="nav" role="navigation">
    <ul class="nav__list m-0">
      {% for link in linklists[section.settings.navigation_menu].links %}
        <!-- Top Level -->
        {%if link.levels > 0 %}
          <!-- If we're dealing with mega menu -->
          <li>
            <input id="group-1" type="checkbox" hidden />
            <label for="group-1" class="pl-1 is-size-7 has-text-weight-medium is-uppercase">
              <span class="icon-closed">+</span><span class="icon-open">-</span>{{link.title}}</label>
            <ul class="group-list m-0">
              {% for childlink in link.links %}
                {% if childlink.levels > 0 %}
                  <!-- If we're dealing with a mega menu -->
                  <li>
                    <input id="sub-group-1" type="checkbox" hidden />
                    <label for="sub-group-1" class="is-size-7 has-text-weight-medium is-uppercase">
                      <span class="icon-closed">+</span><span class="icon-open">-</span>{{childlink.title}}</label>
                    <ul class="sub-group-list m-0">
                      {%for grandchildlink in childlink.links %}
                        <!-- If we're not dealing with a mega menu -->
                        <li class="is-size-7 has-text-weight-medium is-uppercase"><a href="{{grandchildlink.url}}?main={{link.title}}&sub_link={{childlink.title}}&title={{grandchildlink}}">{{grandchildlink.title}}</a></li>
                      {%endfor%}
                    </ul>
                  </li>
                {%else%}
                  <!-- If we're not dealing with a mega menu -->
                  <li class="is-size-7 has-text-weight-medium is-uppercase"><a href="{{childlink.url}}?main={{link.title}}&title={{childlink.title}}">{{childlink.title}}</a></li>
                {%endif%}
              {%endfor%}
            </ul>
          </li>
        {%else%}
        <!-- If we're not dealing with mega menu -->
          <li class="is-size-7 has-text-weight-medium is-uppercase">
            <a href="{{link.url}}?title={{link.title}}" class="pl-1">{{link.title}}</a>
          </li>
        {%endif%}
      {%endfor%}
    </ul>
  </nav>
</div>