{%- if block.settings.product.compare_at_price > block.settings.product.price -%}
    {%- if settings.currency_code_enabled -%}
        <span class="">{{ product.price | money_with_currency }}</span>
        <span class="">{{product.compare_at_price | money_with_currency }}</span>
    {%- else -%}
        <span class="">{{ product.price | money }}</span>
        <span class="">{{ product.compare_at_price | money }}</span>
    {%- endif -%}
    {%- elsif product.price_varies -%}
    {%- if settings.currency_code_enabled -%}
        {%- capture formatted_min_price -%}{{ product.price_min | money_with_currency }}{%- endcapture -%}
        {%- capture formatted_max_price -%}{{ product.price_max | money_with_currency }}{%- endcapture -%}
    {%- else -%}
        {%- capture formatted_min_price -%}{{ product.price_min | money }}{%- endcapture -%}
        {%- capture formatted_max_price -%}{{ product.price_max | money }}{%- endcapture -%}
    {%- endif -%}

    <span class="">{{ 'collection.product.from_price_html' | t: min_price: formatted_min_price, max_price: formatted_max_price }}</span>
    {%- else -%}
    {%- if settings.currency_code_enabled -%}
        <span class="">{{ product.price | money_with_currency }}</span>
    {%- else -%}
        <span class="">{{ product.price | money }}</span>
    {%- endif -%}
{%- endif -%}