{%- liquid
  assign color_background = section.settings.color_background
  assign color_button_label = section.settings.color_button_label
  assign color_button_background = section.settings.color_button_background
-%}
<style>
    #shopify-section-{{ section.id }} {
      background-color: {{color_background }};
    }
    #shopify-section-{{ section.id }} .column a.btn{
      color: {{ color_button_label }};
      background-color: {{ color_button_background }};
    }
</style>
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<section class="section">
    <div class="container">
        {% if section.settings.title != blank %}
            <div class="section-header text-center">
                <h2 class="h1 section-header__title is-uppercase is-size-4">{{ section.settings.title | escape }}</h2>
                {%unless section.settings.hide_rule == true%}
                  <hr class="hr--small">
                {%endunless%}
            </div>
        {% endif %}
    </div>
    <div class="container is-hidden-mobile">
        <div class="columns is-multiline is-variable is-7-desktop">
          {%for block in section.blocks %}
            {% assign collection = block.settings.collection %}
            <div class="column is-3-desktop is-half-tablet">
              {%if collection != blank %}
                <a href="/collections/{{collection.handle}}">
                  {% if collection.image %}
                    <figure class="image is-1by1">
                      {{ collection.image | image_url: width: 2048 | image_tag: class: 'lazyload fade-in lazypreload'}}
                    </figure>
                  {%else%}
                    {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                  <div class="product-info has-text-centered">
                    <p class="title mb-1">{{collection.title}}</p>
                  </div>
                </a>
              {%else%}
                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%endif%}
            </div>
          {%endfor%}
          {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            <div class="column is-full has-text-centered mt-6">
              <a href="{{ section.settings.button_link }}" class="btn hero__cta">
                {{ section.settings.button_label | escape }}
              </a>
            </div>
          {%- endif -%}
        </div>
    </div>
    <div class="container is-hidden-tablet">
      <!-- Slider main container -->
      <div id="swiperMobile" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper is-align-items-flex-end">
          <!-- Slides -->
          {% for block in section.blocks %}
            {% assign collection = block.settings.collection %}
            {%if collection != blank%}
              <a href="/collections/{{collection.handle}}" class="swiper-slide">
                <img class="lazyload fade-in {% unless forloop.first == true %} lazypreload{% endunless %}" src="{{collection.image | img_url: 'master'}}">
                <div class="product-info has-text-centered">
                  <p class="title mb-1">{{collection.title}}</p>
                  {%include 'price-on-display'%}
                </div>
              </a>
            {%else%}
            <div class="swiper-slide">
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            {%endif%}
          {%endfor%}
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-prev-mobile" style="color: inherit;"></div>
        <div class="swiper-button-next swiper-button-next-mobile" style="color: inherit;"></div>
      </div>
      {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
        <div class="column is-full has-text-centered mt-6">
          <a href="{{ section.settings.button_link }}" class="btn hero__cta">
            {{ section.settings.button_label | escape }}
          </a>
        </div>
      {%- endif -%}
    </div>
</section>
<script>
  const swiperCollection = new Swiper('#swiperMobile', {
      // Optional parameters
      preloadImages: true,
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      loopFillGroupWithBlank: true,
      navigation: {
        nextEl: '.swiper-button-next-mobile',
        prevEl: '.swiper-button-prev-mobile',
      },
      breakpoints: {
        640: {
            slidesPerView: 2,
            spaceBetween: 10,
        },
        768: {
            slidesPerView: 4,
            spaceBetween: 20,
        },
        1024: {
            slidesPerView: 5,
            spaceBetween: 30,
        }
      }
  });
</script>
{% schema %}
{
  "name": "Featured Collection V2",
  "tag": "section",
  "class": "featured-collection--v2",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "How to order"
    },
    {
      "type": "checkbox",
      "id": "hide_rule",
      "label": "Hide Horizontal Rule?",
      "default": false
    },
    {
      "type": "header",
      "content": "Slide Settings"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "color_button_label",
      "label": "Button Color Label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "Button Color Background",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "name": "collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
     {
       "name": "Featured Collection V2",
       "settings": {
          "title": "All of our products are uniquely YOU." 
        },
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
   ]
}
{% endschema %}
