{%- liquid
  assign color_background = section.settings.color_background
  assign color_text = section.settings.color_text
-%}
<style>
  #shopify-section-{{ section.id }}, #shopify-section-{{ section.id }} p>a {
    background-color: {{color_background }};
    color: {{color_text}};
  }
</style>
<footer class="footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="container footer--body">
    <div class="columns">
      <div class="column is-3-tablet mt-6">
        <div class="footer-logo">
          <figure class="image is-3by1 ml-0 mt-0">
            <img src="https://bulma.io/images/placeholders/720x240.png" alt="Store Logo">
          </figure>
        </div>
        <div class="footer--link">
          <h4 style="color: {{color_text}}" class="link-title">NEED HELP?</h4>
          <ul class="link-links no-bullets">
            <li><a href="#" style="color: {{color_text}}">Click here to contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="column is-4-tablet mt-6">
        <h4 class="link-title" style="color: {{color_text}}">Social Media</h4>
        <ul class="link-links no-bullets social-icons is-flex">
          {% if settings.social_facebook_link != blank %}
            <li>
              <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                <span class="icon icon-facebook" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_twitter_link != blank %}
            <li>
              <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                <span class="icon icon-twitter" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_pinterest_link != blank %}
            <li>
              <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                <span class="icon icon-pinterest" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_instagram_link != blank %}
            <li>
              <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                <span class="icon icon-instagram" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_snapchat_link != blank %}
            <li>
              <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                <span class="icon icon-snapchat" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_google_plus_link != blank %}
            <li>
              <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                <span class="icon icon-google_plus" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_tumblr_link != blank %}
            <li>
              <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                <span class="icon icon-tumblr" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_youtube_link != blank %}
            <li>
              <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                <span class="icon icon-youtube" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_vimeo_link != blank %}
            <li>
              <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                <span class="icon icon-vimeo" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_fancy_link != blank %}
            <li>
              <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                <span class="icon icon-fancy" aria-hidden="true" style="color: {{color_text}}"></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container footer--copy has-text-centered">
    {%if section.settings.text_bottom != blank %}
      <p>{{section.settings.text_bottom}}</p>
    {%else%}
      <p class="is-uppercase">&copy;{{ shop.name | link_to: routes.root_url }}, {{ 'now' | date: '%Y' }} </p>
    {%endif%}
  </div> 
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "footer_link_list",
      "label": "Footer menu",
      "default": "footer"
    },
    {
      "type": "header",
      "content": "Color Settings"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Footer background",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "text_bottom",
      "label": "Text bottom"
    }
  ]
}
{% endschema %}
