{%- liquid
  assign color_background = section.settings.color_background
-%}
<style>
    #shopify-section-{{ section.id }} {
      background-color: {{color_background }};
    }
    
</style>
<section class="section">
    <div class="container">
        {% if section.settings.title != blank %}
            <div class="section-header text-center">
                <h2 class="h1 section-header__title is-uppercase is-size-3">{{ section.settings.title | escape }}</h2>
                <hr class="hr--small">
            </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="columns is-centered is-variable is-7">
           <div class="column is-3">
            <figure class="image is-5by4">
              {% if section.settings.image_left != blank %}
                <img src="{{section.settings.image_left | img_url: 'master'}}" alt="Shop how to image left">
              {%else%}
                <img src="https://bulma.io/images/placeholders/480x480.png">
              {%endif%}
            </figure>
            <div class="howto-description has-text-centered mt-5">
              <font class="title is-size-4 is-uppercase">Choose</font>
              <p class="sub-title has-text-weight-light">Choose a product.</p>
            </div>
           </div>
           <div class="column is-3">
            <figure class="image is-5by4">
              {% if section.settings.image_center != blank %}
                <img src="{{section.settings.image_center | img_url: 'master'}}" alt="Shop how to image center">
              {%else%}
                <img src="https://bulma.io/images/placeholders/480x480.png">
              {%endif%}
            </figure>
            <div class="howto-description has-text-centered mt-5">
              <font class="title is-size-4 is-uppercase">Customize</font>
              <p class="sub-title has-text-weight-light">Personalize it.</p>
            </div>
          </div>
          <div class="column is-3">
             <figure class="image is-5by4">
               {% if section.settings.image_center != blank %}
                 <img src="{{section.settings.image_right | img_url: 'master'}}" alt="Shop how to image right">
               {%else%}
                 <img src="https://bulma.io/images/placeholders/480x480.png">
               {%endif%}
             </figure>
             <div class="howto-description has-text-centered mt-5">
              <font class="title is-size-4 is-uppercase">Order</font>
              <p class="sub-title has-text-weight-light">Let us work our magic!</p>
            </div>
           </div>
        </div>
    </div>
</section>

<script>
  
</script>
{% schema %}
{
  "name": "How To Order Section",
  "tag": "section",
  "class": "how-to",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "How to order"
    },
    {
      "type": "header",
      "content": "Slide Settings"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Image on Left"
    },
    {
      "type": "image_picker",
      "id": "image_center",
      "label": "Image on center"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Image on right"
    }
  ],
  "presets": [
     {
       "name": "How To Order Section",
       "settings": {
          "title": "How to order" 
        }
      }
   ]
}
{% endschema %}
