{%- liquid
  assign color_background = section.settings.color_background
  assign blocks_length = 1
-%}
<style>
  #shopify-section-{{ section.id }} {
    background-color: {{color_background }};
  }

  .swiper-pagination-clients {
    bottom: -2px !important;
  }
  .swiper-pagination-clients .swiper-pagination-bullet-active{
    background: #000 !important;
  }
</style>
<section class="section">
    <div class="container">
        {% if section.settings.title != blank %}
            <div class="section-header text-center">
                <h2 class="h1 section-header__title is-uppercase is-size-5">{{ section.settings.title | escape }}</h2>
                {%unless section.settings.hide_rule == true%}
                  <hr class="hr--small">
                {%endunless%}
            </div>
        {% endif %}
    </div>
    <div class="container is-hidden-mobile">
      <div class="columns is-multiline is-vcentered is-centered is-variable is-8-tablet">
        {%for block in section.blocks %}
          <div class="column is-narrow">
            <figure class="image is-3by1">
              {% if block.settings.client_image != blank %}
                <img src="{{block.settings.client_image | img_url: 'master'}}" alt="{{block.settings.client_description}}">
              {%else%}
                <img src="https://bulma.io/images/placeholders/720x240.png">
              {%endif%}
            </figure>
          </div>
        {%endfor%}
      </div>
    </div>
    <div class="container is-hidden-tablet">
      <!-- Slider main container -->
      <div id="swiperClients" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper is-align-items-flex-end">
          <!-- Slides -->
          {%for block in section.blocks %}
            <div class="swiper-slide">
              <figure class="image">
                {% if block.settings.client_image != blank %}
                  <img src="{{block.settings.client_image | img_url: 'master'}}" alt="{{block.settings.client_description}}">
                {%else%}
                  <img src="https://bulma.io/images/placeholders/720x240.png">
                {%endif%}
              </figure>
            </div>
          {%endfor%}
        </div>
        <div class="swiper-pagination swiper-pagination-clients"></div>
      </div>
    </div>
</section>
<script>
  const swiperClients = new Swiper('#swiperClients', { 
      // Optional parameters
      preloadImages: true,
      slidesPerView: 2,
      spaceBetween: 5,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: ".swiper-pagination-clients",
        clickable: true,
      },
  });
</script>
{% schema %}
{
  "name": "Our Clients",
  "tag": "section",
  "class": "our-clients",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "How to order"
    },
    {
      "type": "checkbox",
      "id": "hide_rule",
      "label": "Hide Horizontal Rule?",
      "default": false
    },
    {
      "type": "header",
      "content": "Slide Settings"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "name": "Carousel Clients",
      "type": "clients",
      "settings": [
        {
          "type": "image_picker",
          "id": "client_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "client_description",
          "label": "Description",
          "default": "Our Client Logo"
        }
      ]
    }
  ],
  "presets": [
     {
       "name": "Our Clients",
       "settings": {
          "title": "Our Clients" 
        },
        "blocks": [
          {
            "type": "clients"
          },
          {
            "type": "clients"
          },
          {
            "type": "clients"
          },
          {
            "type": "clients"
          }
        ]
      }
   ]
}
{% endschema %}
